/**
    Title: WEB 231 – Enterprise JavaScript I
    Author: Professor Krasso
    Date: 05/30/2021
    Modified By: Keith Hall
    Description: This is the css style sheet for the HTML landing page for web-231 assignments, projects, and biosite. 
*/
body {
    font-family: Oswald, Verdana, Arial, sans-serif;
}
#container {

    /* Use margin to position the entire content container. */
    margin: 60px 100px 0 100px;
}
h1, h2, h3, h4 {

    /* Styling of the main headings */
    background-color: #3C275A;
    color: white; 
    border: 1px solid #D6A800;
    padding: 10px;
}
   /* Link styles */
a {
    text-decoration: none;
    color: #453674; 
}
   /* Text color of links to pages already visited */
a:visited  {
    color: #3C275A;
}
    /* Text and background styles on mouse hover */
a:hover {
    background-color: #D6A800;
    color:  #4F3674;
} 