/**
    Title: WEB 231 – Enterprise JavaScript I
    Author: Professor Krasso
    Date: 05/30/2021
    Modified By: Keith Hall
    Description: This is the css style sheet for web-231 assignment 5, sequence game app. 
*/
.app-header {
	text-align: center;
}
/* Display sequence button styling */
#btnDisplaySequence {
	width: 48.2%;
	padding: 16px;  
	background-color: #4F3674;
    color: #fff;
	font-size: 16px;
	border-radius: 4px;
	margin: 20px 0 0 110px;
}
#btnDisplaySequence:hover {
	background-color: #D6A800;
    color: #4F3674;
}
p  {
	clear: left;
	text-align: center;
	font-size: 28px;
}
/* Positions return-home link */
#return-home-container {
margin-left: 270px;
margin-top: 18px;
}
.card {
	margin: auto; 
}
/* Container for results button */
.card-title {
	margin-top: 50px;
	margin-bottom: 25px;
}
/* Label and select input styling */
#sequence  {
	padding: 12px 25px 12px 8px; 
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}
.form-feild {
	margin-left: 132px;
}
 
 
  